.faq-lista{
  grid-column: 2/4;
}
.faq-lista dt{
font-family: 'IBM Plex Mono', monospace;
font-weight: bold;
margin-top: 2rem;
margin-bottom: .5rem;
color: #E54;
}
.faq-lista dt::before{
  content: '';
  display: inline-block;
  width: 1.25rem;
  height: .625rem;
  margin-right: .625rem;
  background: #fb5;
}

.faq-lista dd{
  font-family: Helvetica, Arial, sans-serif;
  margin-bottom: 0.5rem;
  margin-left: 1.875rem;
}